html, body {
	height: 100%;
	margin: 0;
}

a {
	color: #a3f5ff;
	text-shadow: 2px 2px 10px #1171a3;
}

a:hover {
	color: #08e4ff;
}

hr {
	border-style: solid;
}

/* page background */
#bg-container {
	min-height: 100%;

	background: linear-gradient(45deg, #5edde8, #1171a3);
	background-size: 600% 600%;
	animation: Animation 15s ease-in-out infinite;

	display: flex;
	text-align: center;
	justify-content: center;
	
	color: #ffffff;
}

@keyframes Animation { 
	0%{background-position:0% 99%}
	50%{background-position:100% 2%}
	100%{background-position:0% 99%}
}

nav {
	text-align: center;
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	padding: 2px;
	margin: 1px;
}

nav li {
	border: 2px solid #ffffff;
	border-radius: 10px;
	background: rgba(211, 211, 211, 0.25);
	display: inline;
	width: 50%;
	margin: 0px 10px;
	padding: 5px;
}

.content {
	margin: 30px;
	padding: 15px;
	
	border: 2px solid #ffffff;
	border-radius: 10px;
	
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 2rem;
	
	background: rgba(211, 211, 211, 0.25);
}

.content h1 {
	text-align: center;
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 15px;
}

.row {
	overflow: auto;
	padding: 2px;
}

.half-col {
	width: 49%;
	float: left;
	padding: 3px;
	margin: 2px
}

#gif-showcase {
	width: 100%;
}

.centered {
	text-align: center;
}