#options {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    text-shadow: 0px 0px 40px #969696;
    font-size: 1.3rem;
    text-align: left;

    display: none;
    height: 1%;
    align-self: center;
    width: 50%;
    min-width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;

    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 10px;

    background: rgba(119, 119, 119, 0.4);
}

#options h1 {
    margin-top: 1px;
    margin-bottom: 1px;
}

#options h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

#options h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.3rem;
}

#options p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.options-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.options-list li {
    margin-bottom: 10px;
}

/* css toggle switch modified from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    top: 3px;
    margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* the slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

/* slider circle */
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -2px;
    bottom: -4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #dddddd;
}

input:focus + .slider {
    box-shadow: 0 0 1px #dddddd;
}

input:checked + .slider:before {
    transform: translateX(28px);
}

#options hr {
    color: rgb(240, 240, 240);
}

/* options panel */
.opt-container {
    width: 100%;
    min-height: 100%;
}

.opt-sidebar {
    width: 22%;
    height: 100%;
    padding-right: 10px;
}

.opt-main {
    width: 70%;
    padding-left: 10px;
    margin-top: 10px;
}

.opt-sidebar, .opt-main {
    float: left;
}

.opt-sidebar h2 {
    margin-top: 5px;
    padding: 8px;
    border-radius: 10px;
}

.opt-tabs input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.opt-tabs input[type="radio"] + label {
    margin-top: 5px;
}

.opt-tabs input[type="radio"]:hover + label h2 {
    background: linear-gradient(0deg, #cfcfcf05, #e6e6e620);
    cursor: pointer;
}

.opt-tabs input[type="radio"]:checked + label h2 {
    background: linear-gradient(0deg, #cfcfcf05, #e6e6e665);
}

.opt-container {
    height: 400px;
}

 /* options radios - modified from https://codepen.io/triss90/pen/XNEdRe/ */
.radio-container {
    margin: 0.5rem;
}
.radio-container input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio-container input[type="radio"] + label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 0.4rem;
    margin-right: 0.5rem;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio-container input[type="radio"]:checked + label:before {
    background-color: #8a81fe;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}
.radio-container input[type="radio"]:focus + label:before {
    outline: none;
    border-color: #8a81fe;
}
.radio-container input[type="radio"]:disabled + label:before {
    box-shadow: inset 0 0 0 2px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio-container input[type="radio"] + label:empty:before {
    margin-right: 0;
}

/* gradient library */
#grad-lib-container {
    height: 350px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
}

.grad-lib-box {
    height: 100px;
    width: 100px;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
}

.grad-lib-box:hover > .tooltip {
    display: inline-block;
}

.tooltip {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 0;
    padding: 3px;
    display: none;
    font-size: 0.8rem;
    background: #2c2c2c50;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}